.triangle {
  height: 0;
  width: 0;
  border-left: 100px solid red;
  border-right: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-top: 100px solid transparent;
  transform: rotate(30deg);
  float: left;
}
div:nth-child(3){
	transform: rotate(45deg);
}
.rectangle{
	width: 200px;
	height: 600px;
	border: solid green;
}
.one{
	border-left: 100px solid blue;
}
